<header class="site-header">
  <button class="toggle_menu">
    <span class="sandwich">
      <span class="sw-topper"></span>
      <span class="sw-bottom"></span>
      <span class="sw-footer"></span>
    </span>
  </button>
  <nav class="top_menu">
    <ul>
      <li class="main-items"><a href="{{site.baseurl}}/">Home</a></li>
      <li class="main-items"><a href="{{site.baseurl}}/archive">Archive</a></li>
      <li class="main-items"><a href="{{site.baseurl}}/inbetween">Inbetween</a></li>
      <li class="main-items"><a href="{{site.baseurl}}/about">About</a></li>
    </ul>
  </nav>
  <div class="header-content">
    <div class="logo">
      <a href="{{site.baseurl}}/"><img height="50%" width="50%" src="assets/images/vegemite_soup.png"></a>
      <!-- < href="{{site.baseurl}}/" class="logo-link">Vegemite Soup</a> -->
    </div>
  </div>
</header>