
<div class="wrapper">
  <center><div class="site-title"><a href="/"><img src="/vegemite_soup.png" /></a></div></center>
</div>
<div class="wrapper">
  <div class="container-fluid">
    <center>
    <ul class="navbar">
      <div class="right-nav">
        <a class="page-link" href="/index.html">Home</a><a class="page-link" href="/archive.html"> • Archive</a>
        
        {% for sitePage in site.pages %}
        {% if sitePage.title %}
          <a class="page-link" href="{{sitePage.url | prepend: site.baseurl }}"> • {{sitePage.title}}</a>
        
        {% endif %}
        {% endfor %}
      </div>      
    </ul>
    </center>
  </div>
</div>
