<div class="sidebar-container sticky">
	<div class="sidebar">
		<center>
	    <a href="/archive"><h3>Recent Travel</h3><a>
	    </center>
	    <ul>
	        {% for post in site.posts limit:10 %}
	          <li><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
	        {% endfor %}
	    </ul>
	</div>

	<div class="sidebar">
		<center>
		<a href="/inbetween"><h3>Recent Life</h3><a>
		</center>
		<ul>
			{% for post in site.inbetween limit:10 %}
				<li><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
			{% endfor %}
		</ul>
	</div>

	<div class="sidebar">
		<center>
		<a href="/archive"><h3>Archive</h3></a>
		</center>
		<div class="sidebar-module">
		<ul>
		  {% for post in site.posts %}
		  {% capture this_month %}{{ post.date | date: "%B %Y" }}{% endcapture %}
		  {% unless month == this_month %}
		  {% assign month = this_month %}
		  {% unless post == site.posts.first %}
		  {% endunless %}
		  	<li id="{{ month }}" > <a href="{{ site.baseurl }}/archive/#{{month}}">{{ month }}</a></li>
		  {% endunless %}
		  {% endfor %}
		</ul>
		</div>
	</div>
</div>