---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline"><a class="post-title-link"  href="{{page.url}}">{{ page.title }}</a></h1>
  <center>  <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time></p>
    {% if page.author %}
     <div class="">

     </div>
     {% endif %}
   </center>

    <meta property="og:url"                content="{{ page.url }}" />
    <meta property="og:type"               content="Post" />
    <meta property="og:title"              content="{{ page.url }}" />
    <meta property="og:description"        content="{{ page.description }}" />
    <meta property="og:image"              content="{{ page.image }}" />

  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}

    <div
      class="fb-like"
      data-share="true"
      data-width="450"
      data-show-faces="true">
    </div>

    {% include disqus.html %}
  </div>

  {% include scripts.html %}

</article>
